.calendar-page-container {
  margin-left: 5px;

  .calendar-container {
    .rbc-calendar {
      height: 650px;
      @media @desktop {
        height: 500px;
      }
      @media @tablet {
        font-size: 1.4rem;
        height: 420px;
      }
      @media @phone {
        font-size: 1rem;
        height: 380px;
      }

      .rbc-toolbar {
        .rbc-btn-group {
          button {
            @media @phone {
              font-size: 0.8rem;
              width: 40px;
            }
          }
        }

        .rbc-toolbar-label {
          @media @phone {
            font-size: 1rem;
            padding: 0;
          }
        }
      }

      .rbc-month-view {
        .rbc-month-row {
          .rbc-row-content {
            .rbc-row {
              .rbc-row-segment {
                .rbc-event {
                  background-color: @CBblue;

                  .rbc-event-content {
                  }
                }
              }
            }
          }
        }
      }
    }

    .search-box-wrapper {
      display: flex;
      font-size: 1.2rem;
      justify-content: space-between;
      //   align-items: stretch;
      margin-bottom: 8px;

      @media @phone {
        font-size: 1rem;
      }

      .search-box-input {
        font-size: 20px;
        border: 0.1em solid @CBblue;
        border-radius: 0 0.5em 0.5em 0;
        border-left: 0;
        width: 80%;
        outline: none;
        margin-right: 10px;
      }

      .magnifying-glass {
        font-size: 20px;
        border: 0.1em solid @CBblue;
        border-radius: 0.5em 0 0 0.5em;
        border-right: 0;
        padding: 0 0.1em 0.1em 0;
        color: white;
      }

      .duplicate-btn {
        background-color: @CBblue;
        color: @CBorange;
        font-size: 1.6rem;
        border-radius: 15px;
        border: 2px solid @CBblue;
        cursor: pointer;
      }
    }
  }
}
