.create-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;

  .search-and-save {
    display: flex;
    width: 100%;

    @media @tablet {
      flex-flow: column;
      align-items: flex-end;
    }

    .is-searching {
      font-family: @secondary-font;
      font-size: 1.8rem;
      letter-spacing: 1.5px;
      background: @CBred;
      border: 2px @CBred solid;
      color: white;
      height: 40px;
      width: 92%;
      border-radius: 20px;
      margin: 0 30px;
      padding: 0 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media @tablet {
        margin: 30px 30px 0;
      }

      @media @phone {
        width: 85%;
      }
    }

    .not-searching {
      .is-searching;
      background: white;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: @CBred;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: @CBred;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: @CBred;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: @CBred;
    }

    button {
      font-family: @secondary-font;
      font-size: 1.8rem;
      letter-spacing: 1.5px;
      border: @CBred solid 2px;
      border-radius: 20px;
      background: @CBred;
      color: white;
      height: 40px;
      width: 70px;
      margin-right: 30px;

      @media @tablet {
        order: -1;
      }
    }
  }

  .preview-and-schedule {
    display: flex;
    margin-top: 30px;

    .preview {
      display: flex;
      width: 100%;
      max-width: 600px;
      border: solid @CBred 3px;
      border-radius: 30px;
      overflow: hidden;

      @media @tablet{
        flex-flow: column;
      }

      .image-container {
        width: 40%;
        height: 300px;
        text-align: center;
        overflow: hidden;

        background-size: cover;
        background-position: 50% 50%;

        @media @tablet {
          height: 150px;
          width: 100%;
        }

        // .image {
        //   // float: right;
        //   height: 100%;
        //   // margin-right: -50%;
        //   position: relative;
        //   left: 50%;
        //   transform: translate(-50%, 0);
        // }
      }

      .content {
        margin: 20px;
        position: relative;
        display: flex;
        flex-flow: column;

        .title {
          font-family: @secondary-font;
          font-weight: bold;
          font-size: 2rem;
          background-size: 1px 1em;
          box-shadow:
            inset 0 0rem white,
            inset 0 -0.25rem @CBred;
          display: inline;
          line-height: 25px;
        }
  
        .description {
          margin: 40px 0 0;
          font-size: 1.5rem;
          font-family: @secondary-font;
          line-height: 18px;
          max-height: 90px;
          overflow: hidden;
        }

        .divide {
          position: absolute;
          bottom: 10px;
          width: 100%;

          .line {
            border-top: solid @CBred 1px;
            margin: 0 auto 25px;
            width: 15%;
          }
    
          .site {
            font-family: @secondary-font;
          }
        
        }


      }
    }
  }
}
