.create-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;

  .preview-and-schedule {
    display: flex;

    .search-and-save {
      .is-searching {
        background: @CBred;
      }
      .not-searching {
        
      }
    }

    .preview {
      display: flex;
      width: 100%;
      max-width: 600px;
      border: solid @CBred 3px;
      border-radius: 30px;
      overflow: hidden;

      @media @tablet{
        flex-flow: column;
      }

      .image-container {
        width: 40%;
        height: 300px;
        text-align: center;
        overflow: hidden;

        background-size: cover;
        background-position: 50% 50%;

        @media @tablet {
          height: 150px;
          width: 100%;
        }

        // .image {
        //   // float: right;
        //   height: 100%;
        //   // margin-right: -50%;
        //   position: relative;
        //   left: 50%;
        //   transform: translate(-50%, 0);
        // }
      }

      .content {
        margin: 20px;
        position: relative;
        display: flex;
        flex-flow: column;

        .title {
          font-family: @secondary-font;
          font-weight: bold;
          font-size: 2rem;
          background-size: 1px 1em;
          box-shadow:
            inset 0 0rem white,
            inset 0 -0.25rem @CBred;
          display: inline;
          line-height: 25px;
        }
  
        .description {
          margin: 40px 0 0;
          font-size: 1.5rem;
          font-family: @secondary-font;
          line-height: 18px;
          max-height: 90px;
          overflow: hidden;
        }

        .divide {
          position: absolute;
          bottom: 10px;
          width: 100%;

          .line {
            border-top: solid @CBred 1px;
            margin: 0 auto 25px;
            width: 15%;
          }
    
          .site {
            font-family: @secondary-font;
          }
        
        }


      }
    }
  }
}
