.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    opacity: .8;
    background-image: url('../../Images/HeaderImg_Desktop.jpg');
    @media @tablet {
        background-image: url('../../Images/HeaderImg_Tablet.jpg');
    }
    @media @phone {
        background-image: url('../../Images/HeaderImg_Phone.jpg');
        height: 50px;
    }

    .logo {
        height: 40px;
        margin-top: 10px;
        margin-left: 40px;

        @media @phone {
            height: 30px;
        }
    }
}