.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: @CBblue;
  color: @CBtan;

  .link {
    margin-left: 40px;
    @media @tablet {
      margin-left: 30px;
    }
    @media @phone {
      margin-left: 20px;
    }

    .logo {
      height: 40px;
    }
  }

  .title {
    font-size: 4rem;
    letter-spacing: 4.5rem;
    @media @desktop {
      letter-spacing: 3.7rem;
    }
    @media @tablet {
      letter-spacing: 2.6rem;
    }
    @media @phone {
      display: none;
    }
  }

  .signout {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    height: 100%;
    width: 70px;
    background: @CBred;
    color: @CBblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin-right: 40px;
    @media @tablet {
      margin-right: 30px;
    }
    @media @phone {
      margin-right: 20px;
      font-size: 1.8rem;
      padding-top: 17px;
    }
  }

  .nav-icon {
    display: none;

    @media @phone {
      display: block;
    }
  }
}
