.home-container {
  .container-margin-top();
  width: 800px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;

  .home-path {
    padding: 20px;
    width: 100%;
    border: 1px solid red;
    height: 50px;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      width: 130px;
      right: 10px;
      background: gray;
      padding: 0;
    }

  .home-content {
    font-size: 1.6rem;
    padding: 20px;
    grid-area: main;
    border: 1px solid blue;
  }
  }
}
