.home-container {
  .container-margin-top();
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .home-path {
    padding: 20px;
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .home-content {
    font-size: 1.6rem;
    width: 100%;
    margin-bottom: 30px;
  }
}
