html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

@import "variables.less";

@import "mixins.less";

@import "app.less";

@import "header.less";

@import "nav.less";

@import "current-page.less";

@import "landingPage.less";

@import "footer.less";

@import "home.less";

@import "date-picker.less";

@import "create.less";

@import "calendar.less";

@import "grocery-list.less";

@import "grocery-item.less";

@import "recipes.less";

@import "recipe-card.less";

@import "recipe-view.less";

@import "settings.less";

@import "portal.less";

@import "loading.less";
