.landing-container {
  display: flex;
  flex-flow: column;
  width: 100%;

  .above-the-fold {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: 25% 50%;
    color: @CBtan;
    cursor: default;

    .branding {
      display: flex;
      width: 100%;
      max-width: 1700px;
      justify-content: space-around;
      align-items: center;
      padding: 50px 30px 0;

      @media @desktop {
        flex-flow: column;
      }

      @media @phone {
        padding-top: 30px;
      }

      .logo {
        width: 250px;

        @media @desktop {
          width: 200px;
        }

        @media @phone {
          width: 150px;
        }
      }

      .title {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 70%;

        @media @desktop {
          width: 90%;
          max-width: 900px;
        }

        @media @phone {
          width: 100%;
          max-width: 420px;
        }

        .name {
          display: flex;
          justify-content: space-between;
          width: 100%;
          font-family: @secondary-font;
          font-size: 100px;
          font-weight: bold;
          margin-top: 50px;
  
          @media @desktop {
            margin-top: 40px;
            font-size: 75px;
          }
  
          @media @phone {
            font-size: 40px;
            margin-top: 30px;
          }
        }

        .hook {
          width: 100%;
          font-family: @primary-font;
          font-size: 30px;
          letter-spacing: 4px;
          margin: 0px 0 0;

          @media @desktop {
            font-size: 21px;
          }

          @media @phone {
            font-size: 12px;
            letter-spacing: 1px;
          }
        }
      }
    }

    .call-to-action {
      display: flex;
      margin-top: -18vh;
      justify-content: center;
      align-items: center;
      font-family: @secondary-font;
      font-size: 60px;
      text-shadow: 3px 3px rgba(0,0,0,.25);
      cursor: pointer;

      @media @desktop {
        font-size: 50px;
      }

      @media @phone {
        font-size: 35px;
        margin-top: -16vh;
      }
    }
    .call-to-action:hover {
      font-size: 64px;

      @media @desktop {
        font-size: 53px;
      }

      @media @phone {
        font-size: 37px;
      }
    }

    .learn-more {
      font-size: 30px;
      margin-bottom: 20px;

      @media @tablet {
        font-size: 25px;
      }

      @media @phone {
        font-size: 20px;
      }

      p {
        margin: 0;
      }

      .chevron {
        width: 30px;

        @media @tablet {
          width: 25px;
        }

        @media @tablet {
          width: 20px;
        }
      }
    }
  }

  .below-the-fold {
    width: 100%;
    display: flex;
    flex-flow: column;
    background: @CBtan;
  }

  .landing-add-recipe {
    width: 100%;
    height: 50vw;
    max-height: 400px;
    display: flex;
    overflow: hidden;
    @border-radius: 50px;
    // margin: 20px 0;

    .add-recipe-image {
      background: @CBtan;
      padding: 50px;
      width: 50%;
    }

    .add-recipe-text {
      margin: 0;
      padding: 50px;
      background: @CBred;
      width: 50%;
      color: @CBtan;
      font-size: 30px;
      font-weight: bold;
      border-bottom-left-radius: @border-radius;
    }
  }

  .landing-recipes {
    .landing-add-recipe;

    .recipes-image {
      .add-recipe-image;
    }

    .recipes-text {
      .add-recipe-text;
      border-bottom-left-radius: 0;
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
      background: @CBblue;
    }
  }

  .landing-calendar {
    .landing-add-recipe;

    .calendar-image {
      .add-recipe-image;
    }

    .calendar-text {
      .add-recipe-text;
      border-top-left-radius: @border-radius;
      background: @CBgrey;
      color: @CBblue;
    }
  }

  .landing-grocery {
    .landing-add-recipe;

    .grocery-image {
      .add-recipe-image;
    }

    .grocery-text {
      .add-recipe-text;
      border-bottom-left-radius: 0;
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
      background: @CBorange;
      color: @CBblue;
    }
  }

}