.containerLP {
    width: 100%;

    .titleContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .bckgImg {
            position: relative;
            @media @phone {
                height: 400px;
            }
        }

        .landingNav {
            width: 100%;
            position: absolute;
            top: 10px;
            display: flex;
            justify-content: flex-end;
            display: flex;

            .login {
                margin-right: 15px;
                text-decoration: none;
                color: white;
                font-size: 2.4rem;
            }

            .register {
                margin-right: 15px;
                text-decoration: none;
                color: white;
                font-size: 2.4rem;
                font-weight: bold
            }
        }

        .logo {
            position: absolute;
            top: 120px;
            height: 240px;
            @media @phone {
                top: 56px;
                height: 120px;
            }
        }

        .title {
            position: absolute;
            text-decoration: underline;
            color: white;
            top: 420px;
            font-size: 10rem;
            @media @phone {
                top: 230px;
            }
        }
    }
}