.containerLP {
    width: 100%;

    .titleContainer {
        width: 100%;


        .bckgImg {
            position: relative;
            width: 100%;
            height: auto;
            @media @phone {
                width: 400px;
            }
        }

        .landingNav {
            width: 100%;
            position: absolute;
            top: 10px;
            display: flex;
            justify-content: flex-end;
            display: flex;
            font-size: 2.4rem;
            @media @tablet {
                font-size: 2.2rem;
            }
            @media @phone {
                font-size: 1.8rem;
            }

            .login {
                margin-right: 15px;
                text-decoration: none;
                color: white;
            }

            .register {
                margin-right: 15px;
                text-decoration: none;
                color: white;
                font-weight: bold
            }
        }

        .logo-title {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .logo {
                position: absolute;
                display: block;
                top: 90px;
                height: 220px;
                @media @tablet {
                    top: 80px;
                    height: 170px;
                }
                @media @phone {
                    top: 56px;
                    height: 100px;
                }
            }
    
            .title {
                position: absolute;
                color: white;
                top: 350px;
                font-size: 10rem;
                @media @tablet {
                    top: 280px;
                    font-size: 9rem;
                }
                @media @phone {
                    top: 160px;
                    font-size: 5.8rem;
                }
            }
        }
    }
}