// Container Styles (prevents content from appearing underneath header when initially loaded)

.container-margin-top {
    margin-top: 180px;
    @media @phone {
        margin-top: 120px;
    }
}

#phoneNav {
    .basicNavStyle{
        display: none;
        justify-content: center;
        align-items: center;
        height: 60px;
        // margin-top: -55px;
        font-size: 40px;
        font-family: @secondary-font;
        letter-spacing: 10px;
        margin: 0;

        @media @phone {
            display: flex;
        }
    }

    .create(@primary-color: @CBred, @secondary-color: @CBorange) {
        .basicNavStyle;
        color: @primary-color;
        background-color: @secondary-color;
    }

    .recipes(@primary-color: @CBblue, @secondary-color: @CBtan) {
        .basicNavStyle;
        color: @primary-color;
        background-color: @secondary-color;
    }

    .calendar(@primary-color: @CBlightBlue, @secondary-color: @CBgrey) {
        .basicNavStyle;
        color: @primary-color;
        background-color: @secondary-color;
    }

    .dashboard(@primary-color: @CBorange, @secondary-color: @CBblue) {
        .basicNavStyle;
        color: @primary-color;
        background-color: @secondary-color;
        letter-spacing: 0;
    }

    .settings(@primary-color: @CBgrey, @secondary-color: @CBred) {
        .basicNavStyle;
        color: @primary-color;
        background-color: @secondary-color;
    }
}