.modal-portal {


  .portal-container {
    border: 1.5px solid @CBblue;

    .modal-container {


      .modal-sub-container {


        .modal-text {
          display:flex;
          justify-content: center;
          color: @CBblue;
          font-size: 23px;
          font-family: @primary-font;
        }

        .recipe-buttons {
          display: flex;
          justify-content: space-evenly;
          max-width: 350px;
          flex-flow: wrap;
          padding: 0 15px 0;

          .button-selected {
            font-family: @secondary-font;
            font-size: 1.5rem;
            letter-spacing: 1.5px;
            border: @CBblue solid 2px;
            border-radius: 20px;
            background: @CBblue;
            color: white;
            height: 30px;
            padding: 0 12px;
            outline: none;
            margin-top: 10px;
            width: 140px;
          }

          .button-not-selected {
            .button-selected;
            color: @CBblue;
            background: white;
          }

          .button-not-selected:hover {
            background: @CBgrey;
            font-weight: bold;
          }
        }

        .DayPicker {
          .DayPicker-wrapper {
            .DayPicker-NavBar {
              margin-top: 10px;
              .DayPicker-NavButton {
                margin-top: 7px;
                position: absolute;
                margin-left: 80px;
              }
              .DayPicker-NavButton--next {
                border-top: 8px solid @CBblue;
                border-bottom:8px solid @CBblue; 
                border-right: 8px solid @CBblue;
                border-left:8px solid white;
                margin-left: 250px;
                height: 3px;
              }
              .DayPicker-NavButton--prev {
                border-top: 8px solid @CBblue;
                border-bottom:8px solid @CBblue; 
                border-right: 8px solid white;
                border-left:8px solid @CBblue;
              }
            }
            .DayPicker-Months {
              margin-bottom: -25px;
              .DayPicker-Month {
                border: 2px @CBblue solid;
                .DayPicker-Caption {
                  background: @CBblue;
                  width: 100%;
                }
                .DayPicker-Weekdays {

                }
                .DayPicker-Body {
                  .DayPicker-Week {
                    .DayPicker-Day {
                      font-size: 12px;
                    }
                    .DayPicker-Day--today {
                      color: @CBblue;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }

        .modal-button {
          display: flex;
          height: 30px;
          justify-content: space-evenly;
          width: 100%;
          flex-flow: wrap;
          padding: 0 15px 0;
          font-size: 1.5rem;
          font-family: @secondary-font;
          border: @CBblue solid 2px;
          border-radius: 20px;
          background: #fffefe;
          margin: auto;
          margin-top: 10px;
        }
      }
    }
  }
}