.recipes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .recipeCard {
    border: 1px solid black;
    width: 180px;
    height: 200px;
    margin: 0 10px 20px 10px;
  }
}