.signinPage {
    width: 95%;
    max-width: 600px;
    font-family: @primary-font;
}

h1 {
    font-size: 3.3rem;
    margin-bottom: 3px;
}

.switchForm {
    #form > .switch-form;
}

.signinForm {
    display: flex;
    flex-flow: column;
}

input {
    #form > .input;
}

input::placeholder {
    #form > .input-placeholder;
}

button {
    #form > .submit;
}