// Media Queries

@phone: ~'(max-width: 400px)';

@tablet: ~'(max-width: 768px)';

@desktop: ~'(max-width: 1200px)';


// Colors

@CBlightBlue: #ebf4f4;

@CBgrey: #bcc9d2;

@CBblue: #343e5a;

@CBred: #de6a5a;

@CBorange: #fed092;

@CBtan: #f5e9df;

@CBpurple: #660066;

// Fonts

@primary-font: ~"'Muli', sans-serif";
@secondary-font: ~"'Questrial', sans-serif";