// Media Queries

@phone: ~'(max-width: 400px)';

@tablet: ~'(max-width: 768px)';

@desktop: ~'(max-width: 1200px)';


// Colors

@CBorange: #ffc988;

@CBpurple: #660066;

@CBblue: #2E3650;

@CBred: #D85E50;

@CBtan: #F5E6DC;


// Fonts

@primary-font: ~"'Noto Serif', serif";
@secondary-font: ~"'Lato', sans-serif";