.app {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header {
  width: 100%;
  background-image: url("../../Images/headerImg.jpg");
  height: 70px;
}
.containerLP {
  width: 100%;
}
.containerLP .titleContainer {
  position: relative;
}
.containerLP .titleContainer .titleImg {
  width: 100%;
}
.containerLP .titleContainer .logo {
  position: absolute;
  top: 150px;
  left: 50%;
}
.containerLP .titleContainer .title {
  position: absolute;
  text-decoration: underline;
  color: white;
  top: 200px;
  left: 50%;
}
.signUp {
  width: 100%;
}
