html {
  font-size: 62.5%;
}
.app {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-image: url('../../Images/HeaderImg_Desktop.jpg');
}
@media (max-width: 768px) {
  .header {
    background-image: url('../../Images/HeaderImg_Tablet.jpg');
  }
}
@media (max-width: 400px) {
  .header {
    background-image: url('../../Images/HeaderImg_Phone.jpg');
    height: 50px;
  }
}
.header .logo {
  height: 40px;
  margin-top: 10px;
  margin-left: 40px;
}
@media (max-width: 400px) {
  .header .logo {
    height: 30px;
  }
}
.nav-icon {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.containerLP {
  width: 100%;
}
.containerLP .titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.containerLP .titleContainer .bckgImg {
  position: relative;
}
@media (max-width: 400px) {
  .containerLP .titleContainer .bckgImg {
    height: 400px;
  }
}
.containerLP .titleContainer .landingNav {
  width: 100%;
  position: absolute;
  top: 10px;
  justify-content: flex-end;
  display: flex;
}
.containerLP .titleContainer .landingNav .login {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-size: 2.4rem;
}
.containerLP .titleContainer .landingNav .register {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
}
.containerLP .titleContainer .logo {
  position: absolute;
  top: 120px;
  height: 240px;
}
@media (max-width: 400px) {
  .containerLP .titleContainer .logo {
    top: 56px;
    height: 120px;
  }
}
.containerLP .titleContainer .title {
  position: absolute;
  text-decoration: underline;
  color: white;
  top: 420px;
  font-size: 10rem;
}
@media (max-width: 400px) {
  .containerLP .titleContainer .title {
    top: 230px;
  }
}
.signupPage {
  width: 100%;
  font-family: 'Noto Serif', serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.signupPage .container {
  width: 95%;
  max-width: 600px;
}
h1 {
  font-size: 3.3rem;
  margin-bottom: 3px;
}
.switchForm {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  color: #ff8c00;
  font-style: unset;
}
.signupForm {
  display: flex;
  flex-flow: column;
}
input {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  height: 3.0rem;
  border: 1px solid lightgrey;
  margin-top: 1.5rem;
  padding-left: 1rem;
}
input::placeholder {
  color: lightgrey;
}
button {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  height: 3.7rem;
  width: 100%;
  background-color: #ff8c00;
  color: white;
  border: 1px solid lightgrey;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}
.hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.ui-checkbox {
  display: flex;
  margin-top: 1.5rem;
}
.ui-checkbox .ui-checkbox-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  margin: 0 0 0 1rem;
}
.ui-checkbox:before {
  content: "✓";
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border: .1rem lightgrey solid;
  border-radius: .1rem;
  font-style: normal;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  transition: all .2s linear;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 0 white;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
}
/* checkbox:checked */
input[type=checkbox]:checked + .ui-checkbox:before {
  color: #ff8c00;
  text-shadow: 0 0 0 #ff8c00;
  background-color: white;
}
.ui-checkbox-disclaimer {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  align-self: baseline;
  margin: 0 0 0 3.6rem;
  color: grey;
}
.signinPage {
  width: 100%;
  font-family: 'Noto Serif', serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.signinPage .container {
  width: 95%;
  max-width: 600px;
}
h1 {
  font-size: 3.3rem;
  margin-bottom: 3px;
}
.switchForm {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  color: #ff8c00;
  font-style: unset;
}
.signinForm {
  display: flex;
  flex-flow: column;
}
input {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  height: 3.0rem;
  border: 1px solid lightgrey;
  margin-top: 1.5rem;
  padding-left: 1rem;
}
input::placeholder {
  color: lightgrey;
}
button {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  height: 3.7rem;
  width: 100%;
  background-color: #ff8c00;
  color: white;
  border: 1px solid lightgrey;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}
