.app {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header {
  width: 100%;
  background-image: url("../../Images/headerImg.jpg");
  height: 70px;
}
.containerLP {
  width: 100%;
}
.containerLP .titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.containerLP .titleContainer .bckgImg {
  position: relative;
}
.containerLP .titleContainer .landingNav {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: right;
}
.containerLP .titleContainer .logo {
  position: absolute;
  top: 120px;
  border: 1px solid red;
  height: 150px;
}
.containerLP .titleContainer .title {
  position: absolute;
  text-decoration: underline;
  color: white;
  top: 280px;
  border: 1px solid red;
}
.signUp {
  width: 100%;
}
